-var titulo = "Titulo Principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "David"
mixin caja(imagen,titulo,contenido)
	.caja 
		.caja__imagen: img(src="images/"+imagen, alt="imagen")
		.caja__contenido 
			h3=titulo
			p=contenido
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title PlatziGames
		link(rel="stylesheet", href="./css/ejercicio-pug.css")
	body 
		header 
			h1 PlatziGames
			if usuario
				a Hola #{usuario}
			else
				a.boton Registro
		section.intro 
			.intro__imagen imagen
				img(src="images/imagen.png", alt="imagen", srcset="")
			.intro__contenido 
				h2 #{titulos[0]} 
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui magnam perferendis facilis id saepe ut cupiditate laudantium iusto libero. Ratione aliquam numquam animi laudantium velit eum consectetur quisquam repellat eaque?
				span Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto non maiores possimus, laborum nesciunt a!
				a.boton Leer Mas
		main.contenido
			+caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet.')
			+caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet.')
			+caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet.')

